/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS SECTION OF THE FILE
 *******************************************************************************
 */
/* Base CSS */
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 * ALL CHANGES TO THIS FILE SHOULD FIRST BE MADE IN THE NASCAR-STYLE-GUIDE
 * PROJECT IN THE FILE OF THE SAME NAME.
 *******************************************************************************
 */
/* Desktop Sizes */
/* Tablet Sizes */
/* Mobile Sizes */
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 * ALL CHANGES TO THIS FILE SHOULD FIRST BE MADE IN THE NASCAR-STYLE-GUIDE
 * PROJECT IN THE FILE OF THE SAME NAME.
 *******************************************************************************
 */
@font-face {
  font-family: 'NeoSans-Italic';
  src: url('../fonts/Neo-Sans-Italic/NeoSans-Italic.svg') format('svg');
  src: url('../fonts/Neo-Sans-Italic/NeoSans-Italic.eot');
  src: url('../fonts/Neo-Sans-Italic/NeoSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Neo-Sans-Italic/NeoSans-Italic.woff') format('woff'), url('../fonts/Neo-Sans-Italic/NeoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Regular';
  src: url('../fonts/Scout-Regular/Scout-Regular.svg') format('svg');
  src: url('../fonts/Scout-Regular/Scout-Regular.eot');
  src: url('../fonts/Scout-Regular/Scout-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Regular/Scout-Regular.woff') format('woff'), url('../fonts/Scout-Regular/Scout-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Regular-Italic';
  src: url('../fonts/Scout-Regular-Italic/Scout-Regular-Italic.svg') format('svg');
  src: url('../fonts/Scout-Regular-Italic/Scout-Regular-Italic.eot');
  src: url('../fonts/Scout-Regular-Italic/Scout-Regular-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Regular-Italic/Scout-Regular-Italic.woff') format('woff'), url('../fonts/Scout-Regular-Italic/Scout-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Bold';
  src: url('../fonts/Scout-Bold/Scout-Bold.svg') format('svg');
  src: url('../fonts/Scout-Bold/Scout-Bold.eot');
  src: url('../fonts/Scout-Bold/Scout-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Bold/Scout-Bold.woff') format('woff'), url('../fonts/Scout-Bold/Scout-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Bold-Italic';
  src: url('../fonts/Scout-Bold-Italic/Scout-Bold-Italic.svg') format('svg');
  src: url('../fonts/Scout-Bold-Italic/Scout-Bold-Italic.eot');
  src: url('../fonts/Scout-Bold-Italic/Scout-Bold-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Bold-Italic/Scout-Bold-Italic.woff') format('woff'), url('../fonts/Scout-Bold-Italic/Scout-Bold-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Black-Italic';
  src: url('../fonts/Scout-Black-Italic/Scout-Black-Italic.svg') format('svg');
  src: url('../fonts/Scout-Black-Italic/Scout-Black-Italic.eot');
  src: url('../fonts/Scout-Black-Italic/Scout-Black-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Black-Italic/Scout-Black-Italic.woff') format('woff'), url('../fonts/Scout-Black-Italic/Scout-Black-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Extra-Light-Italic';
  src: url('../fonts/Scout-Extra-Light-Italic/Scout-Extra-Light-Italic.svg') format('svg');
  src: url('../fonts/Scout-Extra-Light-Italic/Scout-Extra-Light-Italic.eot');
  src: url('../fonts/Scout-Extra-Light-Italic/Scout-Extra-Light-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Extra-Light-Italic/Scout-Extra-Light-Italic.woff') format('woff'), url('../fonts/Scout-Extra-Light-Italic/Scout-Extra-Light-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Thin-Italic';
  src: url('../fonts/Scout-Thin-Italic/Scout-Thin-Italic.svg') format('svg');
  src: url('../fonts/Scout-Thin-Italic/Scout-Thin-Italic.eot');
  src: url('../fonts/Scout-Thin-Italic/Scout-Thin-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Thin-Italic/Scout-Thin-Italic.woff') format('woff'), url('../fonts/Scout-Thin-Italic/Scout-Thin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Light';
  src: url('../fonts/Scout-Light/Scout-Light.svg') format('svg');
  src: url('../fonts/Scout-Light/Scout-Light.eot');
  src: url('../fonts/Scout-Light/Scout-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Light/Scout-Light.woff') format('woff'), url('../fonts/Scout-Light/Scout-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scout-Light-Italic';
  src: url('../fonts/Scout-Light-Italic/Scout-Light-Italic.svg') format('svg');
  src: url('../fonts/Scout-Light-Italic/Scout-Light-Italic.eot');
  src: url('../fonts/Scout-Light-Italic/Scout-Light-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Scout-Light-Italic/Scout-Light-Italic.woff') format('woff'), url('../fonts/Scout-Light-Italic/Scout-Light-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stainless-Regular';
  src: url('../fonts/Stainless-Regular/Stainless-Regular.svg') format('svg');
  src: url('../fonts/Stainless-Regular/Stainless-Regular.eot');
  src: url('../fonts/Stainless-Regular/Stainless-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Stainless-Regular/Stainless-Regular.woff') format('woff'), url('../fonts/Stainless-Regular/Stainless-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stainless-Regular-Italic';
  src: url('../fonts/Stainless-Regular-Italic/Stainless-Regular-Italic.svg') format('svg');
  src: url('../fonts/Stainless-Regular-Italic/Stainless-Regular-Italic.eot');
  src: url('../fonts/Stainless-Regular-Italic/Stainless-Regular-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Stainless-Regular-Italic/Stainless-Regular-Italic.woff') format('woff'), url('../fonts/Stainless-Regular-Italic/Stainless-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stainless-Bold';
  src: url('../fonts/Stainless-Bold/Stainless-Bold.svg') format('svg');
  src: url('../fonts/Stainless-Bold/Stainless-Bold.eot');
  src: url('../fonts/Stainless-Bold/Stainless-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Stainless-Bold/Stainless-Bold.woff') format('woff'), url('../fonts/Stainless-Bold/Stainless-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stainless-Bold-Italic';
  src: url('../fonts/Stainless-Bold-Italic/Stainless-Bold-Italic.svg') format('svg');
  src: url('../fonts/Stainless-Bold-Italic/Stainless-Bold-Italic.eot');
  src: url('../fonts/Stainless-Bold-Italic/Stainless-Bold-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Stainless-Bold-Italic/Stainless-Bold-Italic.woff') format('woff'), url('../fonts/Stainless-Bold-Italic/Stainless-Bold-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stainless-Black';
  src: url('../fonts/Stainless-Black/Stainless-Black.svg') format('svg');
  src: url('../fonts/Stainless-Black/Stainless-Black.eot');
  src: url('../fonts/Stainless-Black/Stainless-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Stainless-Black/Stainless-Black.woff') format('woff'), url('../fonts/Stainless-Black/Stainless-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stainless-Black-Italic';
  src: url('../fonts/Stainless-Black-Italic/Stainless-Black-Italic.svg') format('svg');
  src: url('../fonts/Stainless-Black-Italic/Stainless-Black-Italic.eot');
  src: url('../fonts/Stainless-Black-Italic/Stainless-Black-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Stainless-Black-Italic/Stainless-Black-Italic.woff') format('woff'), url('../fonts/Stainless-Black-Italic/Stainless-Black-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-scout-regular {
  font-family: "Scout-Regular", "Arial", "Helvetica", sans-serif;
}
.font-scout-regular-italic {
  font-family: "Scout-Regular-Italic", "Arial", "Helvetica", sans-serif;
}
.font-scout-extra-light-italic {
  font-family: "Scout-Extra-Light-Italic", "Arial", "Helvetica", sans-serif;
}
.font-scout-light {
  font-family: "Scout-Light", "Arial", "Helvetica", sans-serif;
}
.font-scout-light-italic {
  font-family: "Scout-Light-Italic", "Arial", "Helvetica", sans-serif;
}
.font-scout-thin-italic {
  font-family: "Scout-Thin-Italic", "Arial", "Helvetica", sans-serif;
}
.font-scout-bold {
  font-family: "Scout-Bold", "Arial", "Helvetica", sans-serif;
}
.font-scout-bold-italic {
  font-family: "Scout-Bold-Italic", "Arial", "Helvetica", sans-serif;
}
.font-scout-black-italic {
  font-family: "Scout-Black-Italic", "Arial", "Helvetica", sans-serif;
}
.font-stainless-regular {
  font-family: "Stainless-Regular", "Arial", "Helvetica", sans-serif;
}
.font-stainless-regular-italic {
  font-family: "Stainless-Regular-Italic", "Arial", "Helvetica", sans-serif;
}
.font-stainless-bold {
  font-family: "Stainless-Bold", "Arial", "Helvetica", sans-serif;
}
.font-stainless-bold-italic {
  font-family: "Stainless-Bold-Italic", "Arial", "Helvetica", sans-serif;
}
.font-stainless-black {
  font-family: "Stainless-Black", "Arial", "Helvetica", sans-serif;
}
.font-stainless-black-italic {
  font-family: "Stainless-Black-Italic", "Arial", "Helvetica", sans-serif;
}
.font-helvetica {
  font-family: "Helvetica", "Arial", sans-serif;
}
.font-default {
  font-family: "Arial", "Helvetica", sans-serif;
}
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 *******************************************************************************
 */
/* Greyscale Colors */
.black {
  color: #000000;
}
.grey-d3 {
  color: #0a0a0a;
}
.grey-d2 {
  color: #2b2b2b;
}
.grey-d1 {
  color: #353535;
}
.grey {
  color: #3c3c3c;
}
.grey-l1 {
  color: #787878;
}
.grey-l2 {
  color: #e5e5e5;
}
.grey-l3 {
  color: #efefef;
}
.white {
  color: #ffffff;
}
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 * ALL CHANGES TO THIS FILE SHOULD FIRST BE MADE IN THE NASCAR-STYLE-GUIDE
 * PROJECT IN THE FILE OF THE SAME NAME.
 *******************************************************************************
 */
.relative {
  position: relative;
  overflow: hidden;
}
.no-desktop {
  display: none;
}
.on-desktop {
  display: none;
}
.no-mobile {
  display: block;
}
.on-mobile {
  display: none;
}
.on-tablet {
  display: none;
}
.desktop .on-desktop {
  display: block;
}
.desktop table tbody tr td.no-mobile,
.desktop table thead tr th.no-mobile {
  display: table-cell;
}
.desktop table tbody tr td.no-tablet,
.desktop table thead tr th.no-tablet {
  display: table-cell;
}
.desktop table tbody tr td.no-desktop,
.desktop table thead tr th.no-desktop {
  display: none;
}
.desktop table tbody tr td.on-desktop,
.desktop table thead tr th.on-desktop {
  display: table-cell;
}
.tablet .no-desktop {
  display: block;
}
.tablet .no-tablet {
  display: none;
}
.tablet .on-tablet {
  display: block;
}
.tablet table tbody tr td.no-mobile,
.tablet table thead tr th.no-mobile {
  display: table-cell;
}
.tablet table tbody tr td.no-desktop,
.tablet table thead tr th.no-desktop {
  display: table-cell;
}
.tablet table tbody tr td.no-tablet,
.tablet table thead tr th.no-tablet {
  display: none;
}
.tablet table tbody tr td.on-tablet,
.tablet table thead tr th.on-tablet {
  display: table-cell;
}
.mobile .no-desktop {
  display: block;
}
.mobile .no-mobile {
  display: none;
}
.mobile .on-mobile {
  display: block;
}
.mobile table tbody tr td.no-tablet,
.mobile table thead tr th.no-tablet {
  display: table-cell;
}
.mobile table tbody tr td.no-desktop,
.mobile table thead tr th.no-desktop {
  display: table-cell;
}
.mobile table tbody tr td.no-mobile,
.mobile table thead tr th.no-mobile {
  display: none;
}
.mobile table tbody tr td.on-mobile,
.mobile table thead tr th.on-mobile {
  display: table-cell;
}
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 * ALL CHANGES TO THIS FILE SHOULD FIRST BE MADE IN THE NASCAR-STYLE-GUIDE
 * PROJECT IN THE FILE OF THE SAME NAME.
 *******************************************************************************
 */
.image-gallery {
  overflow: hidden;
  /**
   * Different rules inside of a container
   *
   */
}
.image-gallery .row {
  width: 990px;
  min-height: 1px;
  clear: both;
  margin: 0 auto;
  overflow: hidden;
}
.image-gallery .row.no-margin {
  margin: 0;
}
.image-gallery .row.center {
  margin-left: auto;
  margin-right: auto;
}
.image-gallery .row div[class*='col-'] {
  min-height: 1px;
  float: left;
  margin: 0 10px;
  padding: 0;
  overflow: hidden;
}
.image-gallery .row div[class*='col-']:first-child {
  margin-left: 20px;
}
.image-gallery .row div[class*='col-']:last-child {
  margin-right: 20px;
}
.image-gallery .row div[class*='col-'].no-margin {
  margin: 0;
}
.image-gallery .row .col-thirds {
  width: calc(316.66666667px);
  margin: 0;
}
.image-gallery .row .col-1 {
  width: 300px;
}
.image-gallery .row .col-2 {
  width: 650px;
}
.image-gallery .row .col-3 {
  width: 100%;
  float: none;
}
.image-gallery .container {
  min-width: calc(300px);
  max-width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
.image-gallery .container .row {
  width: 100%;
}
/**
 * Tablet Grid Classes
 *
 */
.tablet .image-gallery .row {
  width: 768px;
  margin: 0 auto;
}
.tablet .image-gallery div[class*='col-'] {
  min-height: 1px;
  float: left;
  margin: 0 10px;
  padding: 0;
  overflow: hidden;
}
.tablet .image-gallery div[class*='col-']:first-child {
  margin-left: 20px;
}
.tablet .image-gallery div[class*='col-']:last-child {
  margin-right: 20px;
}
.tablet .image-gallery div[class*='col-'].no-margin {
  margin: 0;
}
.tablet .image-gallery .col-thirds {
  width: calc(242.66666667px);
  margin: 0;
}
.tablet .image-gallery .col-2 {
  width: calc(408px);
}
.tablet .image-gallery .col-3 {
  width: 100%;
  float: none;
}
.tablet .image-gallery .container {
  max-width: 768px;
}
/**
 * Mobile Grid Classes
 *
 */
.mobile .image-gallery .row {
  width: 100%;
  margin: 0 0 10px auto;
}
.mobile .image-gallery .row.no-margin {
  margin: 0;
}
.mobile .image-gallery div[class*='col-'] {
  width: calc(320px);
  margin: 0 auto;
  float: none;
}
.mobile .image-gallery div[class*='col-']:first-child {
  margin: 0 auto;
}
.mobile .image-gallery div[class*='col-']:last-child {
  margin: 0 auto;
}
.mobile .image-gallery .col-1 {
  width: calc(310px);
}
.mobile .image-gallery .col-2 {
  width: calc(310px);
}
.mobile .image-gallery .col-3 {
  width: calc(310px);
  float: none;
}
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 * ALL CHANGES TO THIS FILE SHOULD FIRST BE MADE IN THE NASCAR-STYLE-GUIDE
 * PROJECT IN THE FILE OF THE SAME NAME.
 *******************************************************************************
 * Do not remove the "draft" selector as it is used to scope these items to a
 * more specific class to prevent issues with legacy code.
 *******************************************************************************
 */
.draft h1,
.draft h2,
.draft h3,
.draft h4,
.draft h5,
.draft h6 {
  font-family: "Stainless-Bold-Italic", "Arial", "Helvetica", sans-serif;
  letter-spacing: .005px;
}
.draft h1 {
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}
.draft h2 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.draft h3 {
  font-family: "Stainless-Regular-Italic", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.draft h4 {
  font-family: "Stainless-Regular-Italic", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.draft h5 {
  font-family: "Stainless-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 15px;
}
.draft h6 {
  font-family: "Stainless-Regular-Italic", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.draft p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
/*
 *******************************************************************************
 * DO NOT MAKE PROJECT-SPECIFIC MODIFICATIONS TO THIS FILE.
 * ALL CHANGES TO THIS FILE SHOULD FIRST BE MADE IN THE NASCAR-STYLE-GUIDE
 * PROJECT IN THE FILE OF THE SAME NAME.
 *******************************************************************************
 * Do not remove the "draft" selector as it is used to scope these items to a
 * more specific class to prevent issues with legacy code.
 *******************************************************************************
 */
.draft table.table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
}
.draft table.table td,
.draft table.table th {
  width: 20%;
  padding: 5px 10px;
  white-space: nowrap;
}
.draft table.table td.center,
.draft table.table th.center {
  text-align: center;
}
.draft table.table td.left,
.draft table.table th.left {
  text-align: left;
}
.draft table.table td.right,
.draft table.table th.right {
  text-align: right;
}
.draft table.table td.justify,
.draft table.table th.justify {
  text-align: justify;
}
.draft table.table tr td:last-child,
.draft table.table tr th:last-child {
  width: auto;
}
.draft table.table thead tr {
  background-color: #000000;
}
.draft table.table thead tr th {
  color: #ffffff;
  font-family: "Scout-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}
.draft table.table thead tr th[data-sorted-direction="ascending"]:after {
  content: "\25b2";
  font-size: 14px;
  margin: 0 4px;
}
.draft table.table thead tr th[data-sorted-direction="descending"]:after {
  content: "\25bc";
  font-size: 14px;
  margin: 0 4px;
}
.draft table.table tbody tr.odd {
  background-color: #fff;
}
.draft table.table tbody tr.even {
  background-color: #ccc;
}
.draft table.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.draft table.table tbody tr:nth-child(even) {
  background-color: #0a0a0a;
}
.draft table.table tbody tr td {
  color: #000000;
  font-family: "Scout-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}
.draft table.table tbody tr td a {
  color: blue;
}
/* Animations CSS3 */
/*
 *******************************************************************************
 * PROJECT-SPECIFIC MODIFICATIONS BELOW
 *******************************************************************************
 */
/* Page-Component-Specific CSS */
/**
 * Layout customizations specific to this project should be made in this file.
 * Do not include classes for specific components here. This file should only
 * contain layout overrides to grids, rows, columns, containers, etc.
 *
 */
body {
  margin: 0;
  background-color: #ffffff;
}
body .image-gallery {
  margin: 20px 0 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 100%;
  color: #000000;
}
body .image-gallery section {
  margin: 0;
}
body .image-gallery a {
  color: blue;
}
body .image-gallery a.more {
  display: block;
  float: right;
  margin: 20px 37px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: red;
}
body .image-gallery a.more:hover {
  text-decoration: underline;
}
body .image-gallery a.more:after {
  display: block;
  float: right;
  content: " \25B6";
  transform: scale(0.5, 0.9);
  margin: -1px 0 0 7px;
}
body .image-gallery ul,
body .image-gallery ol {
  list-style: none;
  padding: 0;
}
.tablet .image-gallery a.more {
  margin: 14px 37px 0 0;
}
.mobile .image-gallery a.more {
  margin: 12px 10px 0 0;
}
.image-gallery .container {
  width: 990px;
  margin: 0 auto;
}
.image-gallery .container button {
  background-color: #fff;
  border-radius: 4px;
  float: right;
  margin-top: 8px;
  padding: 10px;
}
.image-gallery .container .gallery {
  margin: 0 auto 70px;
  overflow: hidden;
  width: 100%;
}
.image-gallery .container .gallery figure {
  background-color: #353535;
  border: 1px solid #333333;
  float: left;
  height: 200px;
  margin: 10px 0;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 200px;
}
.image-gallery .container .gallery figure:nth-child(odd),
.image-gallery .container .gallery figure:nth-child(even) {
  margin-right: 5px;
}
.image-gallery .container .gallery img {
  border: 1px solid #ff6;
  display: block;
  height: 199px;
  margin: 0 auto;
  width: 199px;
}
.image-gallery .container .gallery figcaption {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.image-gallery .container .gallery figcaption .caption {
  color: #ffffff;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}
.image-gallery .container .gallery figcaption h4 {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 60px 20px 0;
  text-transform: uppercase;
}
.image-gallery .container .gallery figcaption p.caption-text {
  line-height: 16px;
  padding: 0 40px;
  text-align: center;
}
.image-gallery .container .gallery figcaption:hover {
  opacity: 1;
}
.image-gallery .container .gallery .blur-background {
  background-color: #000000;
  bottom: 19px;
  height: 201px;
  left: 20px;
  opacity: .6;
  position: absolute;
  width: 201px;
  z-index: 5;
}
.image-gallery p.copyright {
  font-size: 10.5px;
  margin: 0 0 30px;
  text-align: center;
}
.overlay {
  background-color: #000000;
  height: 100%;
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.modal-signup-form {
  background-color: #ffffff;
  height: 80px;
  margin: auto;
  padding: 30px 40px 40px 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 740px;
  z-index: 2;
}
.modal-signup-form .newsletter-heading {
  float: left;
  font-family: "Scout-Light", "Arial", "Helvetica", sans-serif;
}
.modal-signup-form .newsletter-heading h3 {
  font-size: 22px;
  margin-bottom: 5px;
}
.modal-signup-form .newsletter-heading p {
  font-size: 24px;
  margin-top: 0;
  text-align: right;
}
.modal-signup-form .signup-form {
  float: right;
  font-family: "Scout-Light", "Arial", "Helvetica", sans-serif;
  overflow: hidden;
  padding-top: 10px;
}
.modal-signup-form .signup-form form {
  padding-top: 10px;
}
.modal-signup-form .signup-form form input {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: none;
  height: 25px;
  margin: 0 -4px 10px 0;
  padding-left: 10px;
  width: 220px;
}
.modal-signup-form .signup-form form a {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  text-decoration: none;
}
.modal-signup-form .signup-form form a.signup {
  background-color: #ff6;
  border: 1px solid #262626;
  color: #000000;
  height: 30px;
  padding: 5px 10px;
  width: 80px;
}
.image-gallery .row div[class*=col-]:last-child {
  margin: 0;
}
.image-gallery .container {
  margin: 0 auto;
  padding: 0;
}
.image-gallery section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.image-gallery section .footer-logo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.image-gallery section .footer-logo h3 {
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 15px 20px 0;
}
.image-gallery section .footer-logo h3 span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.image-gallery section .footer-logo h3 span:before,
.image-gallery section .footer-logo h3 span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #757575;
  width: 99999px;
}
.image-gallery section .footer-logo h3 span:before {
  left: 100%;
  margin-left: 90px;
}
.image-gallery section .footer-logo h3 span:after {
  right: 100%;
  margin-right: 90px;
}
.image-gallery section .footer-list-container {
  padding: 0 20px;
  overflow: hidden;
}
.image-gallery section .footer-list-container .footer-column {
  width: 20%;
  float: left;
}
.image-gallery section .footer-list-container .footer-column ul li {
  font-family: "Stainless-Regular", "Arial", "Helvetica", sans-serif;
  padding: 5px 0;
}
.image-gallery section .footer-list-container .footer-column ul li:first-child {
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
}
.image-gallery section .footer-list-container .footer-column ul li a {
  display: block;
  color: #000000;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-family: "Stainless-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  padding: 0;
}
.image-gallery section .footer-list-container .footer-column ul li a:hover {
  color: #ffc400;
}
.image-gallery section .footer-list-container .footer-column.social-media {
  margin-top: 7px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul {
  margin-top: 0;
  margin-bottom: 0;
}
.image-gallery section .footer-list-container .footer-column.social-media ul:first-child {
  margin-top: 5px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li {
  font-family: "Stainless-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0 5px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a {
  display: block;
  color: #000000;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding-right: 20px;
  background: url('../../assets/img/social-icons.png');
  background-repeat: no-repeat;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span.facebook {
  background-position: -4px -3px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span.twitter {
  background-position: -4px -33px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span.youtube {
  background-position: -4px -62px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span.pinterest {
  background-position: -4px -89px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span.googleplus {
  background-position: -4px -116px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a span.instagram {
  background-position: -4px -146px;
}
.image-gallery section .footer-list-container .footer-column.social-media ul li a:hover {
  color: #ffc400;
}
.image-gallery section .disclaimer-container {
  color: #444444;
  padding: 0 20px;
}
.image-gallery section .disclaimer-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}
.tablet .image-gallery .nascar-footer-logo h2 {
  margin-left: 20px;
  margin-right: 20px;
}
.tablet .image-gallery .nascar-footer-logo h2 span:before {
  margin-left: 70px;
}
.tablet .image-gallery .nascar-footer-logo h2 span:after {
  margin-right: 70px;
}
.mobile .image-gallery footer .row.divider {
  border-top: 1px solid #777777;
}
.mobile .image-gallery footer .row div[class*=col-]:last-child {
  margin: 0 auto;
}
.mobile .image-gallery footer .nascar-footer-logo h3 {
  margin-left: 5px;
  margin-right: 5px;
}
.mobile .image-gallery footer .nascar-footer-logo h3 span:before {
  margin-left: 70px;
}
.mobile .image-gallery footer .nascar-footer-logo h3 span:after {
  margin-right: 70px;
}
.mobile .image-gallery footer .footer-list-container {
  padding: 0 5px;
}
.mobile .image-gallery footer .footer-list-container .footer-column {
  float: none;
  width: 100%;
}
.mobile .image-gallery footer .footer-list-container .footer-column ul {
  margin-top: 0px;
}
.mobile .image-gallery footer .footer-list-container .footer-column ul li {
  text-align: center;
  padding: 4px 0;
}
.mobile .image-gallery footer .footer-list-container .footer-column ul li:first-child {
  font-size: 18px;
}
.mobile .image-gallery footer .footer-list-container .footer-column ul li:last-child {
  margin-bottom: 22px;
}
.mobile .image-gallery footer .footer-list-container .footer-column ul li a {
  width: 190px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}
.mobile .image-gallery footer .footer-column.social-media {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #666666;
}
.mobile .image-gallery footer .footer-column.social-media ul {
  float: left;
  width: 50%;
}
.mobile .image-gallery footer .footer-column.social-media ul:first-child {
  margin-top: 0;
}
.mobile .image-gallery footer .footer-column.social-media ul li {
  text-align: left;
  padding-left: 0px;
}
.mobile .image-gallery footer .footer-column.social-media ul li:last-child {
  margin-bottom: 10px;
}
.mobile .image-gallery footer .footer-column.social-media ul li a {
  font-size: 14px;
  width: 100%;
  line-height: 36px;
}
.mobile .image-gallery footer .disclaimer-container {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}
.mobile .image-gallery footer .disclaimer-container p {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0 14px;
  margin-top: 20px;
}
